* {
  font-family: monospace;
  text-align: center;
}

body {
  background-color: white;
  color: black;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

#choras {
  font-size: 45px;
  color: purple;
}

#navbar {
  list-style-type: none;
  display: inline-flex;
  font-size: large;
  margin-bottom: 50px;
}

#navbar li {
  display: flex;
}

a:link {
  color: blue; /* Normal link color */
}

a:visited {
  color: blue; /* Visited link color */
}

#stuff{
  font-size: large;
}